*{
    margin: 0px;
    padding: 0px;
    /* background-color: #e600e6; */
    
}

h1{
    font-family: Serif;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-left: 32%;
    margin-top: 10px;
}

nav {
    /* background-color:black; */
    width: 80%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
}

.maindiv
{
   background-color: aliceblue;
}
.subdiv {
    height: 800px;
    width: 90%;
    margin-left: 55px;
    margin-top: 25px;
    margin-right: 20px;
    border: solid black 5px;
    
    background-image: url('maindiv.jpg');

    background-color: #b977e5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px greenyellow;  
   
}
 .subdiv ul{
    display: flex; 
 }
 
 .subdiv li {
    margin-left: 80px;
    margin-top: 30px;
    font-family: serif;
    color: aliceblue;
    list-style: none;
 }

.logo{
    
   height: 80px;
   width: 80px;
}

/* .userlogo{
    width: 50px;
    height: 50px; 
    margin-top: 15px;
    cursor: pointer;
    margin-left: 30px;
} */

span{
     padding-left: 50px;
     color: white;
}
.text
{
    color: white;

}

button{
    margin-left: 20px;
    border-radius: 8px;
    padding: 5px;
    border: none;
    background-color: grey;
    box-shadow: 0px 0px 5px 1px white;
}

button:hover {
     background-color: white;
     border-radius: 10px;
     transition: 0.1s;
}

/* styling of cards started from here. */

.bigcard
{
    display: flex;
    justify-content:space-around;
    gap: 30%;
}

.card
{
    position: relative;
    height: 150px;
    width: 320px;
    background-color: rgb(56, 150, 184);
    border-radius: 20px;

}
.box1
{
    height: 150px;
    width: 160px;
    background-color: pink;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;

    

}

.box2
{
    height: 150px;
    width: 160px;
    background-color:white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: 160px;

}

img {
    height: 150px;
    width: 160px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.bigcard h3{
    margin-left: 35%;
    margin-top: 5px;
    margin-top: 20px;
}

.bigcard span {
 color: black;
}

.bigcard p {
    color: black;
    margin-left: 10%;
}

.box1:hover{
    color: red;
    border-radius: 2px 2px 10px 5px pink;
}

